@font-face {
    font-family: 'Extenda';
    src: url('public/fonts/extenda-30deca-webfont.woff2') format('woff2'),
    url('public/fonts/extenda-30deca-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'franklin-gothic-lt-cond';
    src:
        url('public/fonts/ITC-Franklin-Gothic-LT-Com-Medium-Condensed.woff2') format('woff2'),
        url('public/fonts/ITC-Franklin-Gothic-LT-Com-Medium-Condensed.woff2') format('woff');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}