body {
    margin: 0;
}

p {
    font-size: 1rem;
    line-height: 1.6;
}
h1 {
    font-size: 2rem;
}
h2 {
    font-size: 1.5rem;
}

@media (min-width: 640px) {
    p {
        font-size: 1.125rem;
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2rem;
    }
}

@media (min-width: 1024px) {
    p {
        font-size: 1.25rem;
    }
    h1 {
        font-size: 4rem;
    }
    h2 {
        font-size: 2.5rem;
    }
}